<div class="container">

<div class="todoList row">

<div>

	<h1 class=" titulo text-center">Lista de Tareas</h1>
	
	<form class="form-inline text-center" ng-submit="add()">
    <button type="button" ng-click="saveLocal()" class="btn btn-info">Guardar</button>
		<input class="form-control"  type="text" ng-model="addList" placeholder="Crea tu lista de tarea">
    	<input type="submit" class="btn btn-info" value="add"></input>
	
	</form>

	<ul class="listTask">
    	<li ng-repeat="list in todoList track by $index">
    		<div class="row">
    		<input class="col-md-2" ng-model="list.check" type="checkbox">
            <span  ng-class="{'line-through':list.check}" class="addSpan col-md-6">{{list.text}}</span>
            <button type="button" class="col-md-2 btnModal btn btn-info" ng-click="edit($index)" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-pencil"></span></button>
           
            <button ng-hide="hideRemove" class="btnRemove col-md-2 btn btn-info" ng-click="remove()"><span>X</span></button>
    		</div>   
    	</li>
    </ul>

    
</div>
</div>
  <!-- modalEdit -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edita tu tarea</h4>
        </div>
        <div class="modal-body">
          <input type="text" ng-model="editInput" placeholder="Editar">
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="ok()" class="btn btn-info" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>


</div>



